 
.button1{
    font-size: xx-large;
    position: absolute;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    background-color: rgb(111, 51, 51);
    animation-name: button-animation-type-1;
    animation-timing-function:ease-in-out;
    animation-duration: 1;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}
@keyframes button-animation-type-1{
    0%{
        top: 0px;
        left:0px;

    }
    25%{
        top: 800px;
        left:0px;
    }
    50%{
        top: 800px;
        left: 500px;

    }
    75%{
        top: 0px;
        left: 500px;
    }
    100%{top: 0px;
        left:0px;

    }
}